[project]
	description = "This plugin enables access (download and upload) to the server config files.  It may be used to change Gerrit config files (like etc/gerrit.config) in cases where direct access to the file system where Gerrit's config files are stored is difficult or impossible to get.  - (mirror of https://gerrit.googlesource.com/plugins/server-config)"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Luca Milanesio (lucamilanesio)
[access "refs/for/refs/*"]
	read = group user/Luca Milanesio (lucamilanesio)
	push = group user/Luca Milanesio (lucamilanesio)
	label-Code-Review = -2..+2 group user/Luca Milanesio (lucamilanesio)
	label-Verified = -1..+1 group user/Luca Milanesio (lucamilanesio)
	rebase = group user/Luca Milanesio (lucamilanesio)
	removeReviewer = group user/Luca Milanesio (lucamilanesio)
	submit = group user/Luca Milanesio (lucamilanesio)
[access "refs/heads/*"]
	read = group user/Luca Milanesio (lucamilanesio)
	create = group user/Luca Milanesio (lucamilanesio)
	push = +force group user/Luca Milanesio (lucamilanesio)
	pushMerge = group user/Luca Milanesio (lucamilanesio)
[access "refs/tags/*"]
	push = group user/Luca Milanesio (lucamilanesio)
	push = +force group user/Luca Milanesio (lucamilanesio)
