[access]
	inheritFrom = Public-Plugins
[project]
	description = This plugin enables access (download and upload) to the server config\nfiles.  It may be used to change Gerrit config files (like\netc/gerrit.config) in cases where direct access to the file system where\nGerrit's config files are stored is difficult or impossible to get.
[access "refs/heads/*"]
	label-Verified = -1..+1 group gerrit-verifiers
[access "refs/*"]
	owner = group plugins-server-config
